<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MOM</name>
    <description>
        Happy Birthday Mommy!
    </description>
    <author email="anniesheepy@gmail.com" href="http://anniekwhsu.com">
        Annie KW Hsu
    </author>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="50000" />
    <platform name="ios">
				<!-- ICONS -->
				<!-- iPhone 6 / 6+ -->
				<icon src="icons/ios/icon-60@3x.png" platform="ios" width="180" height="180" />
				<!-- iPhone / iPod Touch  -->
				<icon src="icons/ios/icon-60.png" platform="ios" width="60" height="60" />
				<icon src="icons/ios/icon-60@2x.png" platform="ios" width="120" height="120" />
				<!-- iPad -->
				<icon src="icons/ios/icon-76.png" platform="ios" width="76" height="76" />
				<icon src="icons/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
				<icon src="icons/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />
				<!-- Settings Icon -->
				<icon src="icons/ios/icon-small.png" platform="ios" width="29" height="29" />
				<icon src="icons/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
				<icon src="icons/ios/icon-small@3x.png" platform="ios" width="87" height="87" />
				<!-- Spotlight Icon -->
				<icon src="icons/ios/icon-40.png" platform="ios" width="40" height="40" />
				<icon src="icons/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
				<icon src="icons/ios/icon-40@3x.png" platform="ios" width="120" height="120" />
                
                <!-- SPLASH SCREENS -->
				<!-- iPhone and iPod touch -->
				<splash src="splash/ios/Default.png" platform="ios" width="320" height="480" />
				<splash src="splash/ios/Default@2x.png" platform="ios" width="640" height="960" />
				<!-- iPhone 5 / iPod Touch (5th Generation) -->
				<splash src="splash/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />
				<!-- iPhone 6 -->
				<splash src="splash/ios/splash/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
				<splash src="splash/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
				<splash src="splash/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />
				<!-- iPad -->
				<splash src="splash/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
				<splash src="splash/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />
				<!-- Retina iPad -->
				<splash src="splash/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
				<splash src="splash/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
		</platform>
		
		<platform name="android">
				<!-- ICONS -->
				<icon src="icons/android/mdpi.png" platform="android" qualifier="mdpi" />
				<icon src="icons/android/hdpi.png" platform="android" qualifier="hdpi" />
				<icon src="icons/android/xhdpi.png" platform="android" qualifier="xhdpi" />
				<icon src="icons/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />
				<icon src="icons/android/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

                <!-- SPLASH SCREENS -->
				<splash src="splash/android/ldpi.png" platform="android" qualifier="ldpi" density="port-ldpi"/>
				<splash src="splash/android/mdpi.png" platform="android" qualifier="mdpi" density="port-mdpi"/>
				<splash src="splash/android/hdpi.png" platform="android" qualifier="hdpi" density="port-hdpi"/>
				<splash src="splash/android/xhdpi.png" platform="android" qualifier="xhdpi" density="port-xhdpi"/>
				<splash src="splash/android/portrait-xxhdpi.png" platform="android" qualifier="port-xxhdpi" density="port-xxhdpi"/>
				<splash src="splash/android/landscape-xxhdpi.png" platform="android" qualifier="land-xxhdpi" density="land-xxhdpi"/>
		</platform>

		<!-- DEFAULT ICON + SPLASH -->
		<icon src="icon.png" />
        <splash src="splash.png" />
		
    <content src="index.html" />
    <access origin="*" />
</widget>
