<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MOM</name>
    <description>
        Happy Birthday Mommy!
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <platform name="ios">
				<!-- ICONS -->
				<!-- iPhone 6 / 6+ -->
				<icon src="icons/ios/icon-60@3x.png" platform="ios" width="180" height="180" />
				<!-- iPhone / iPod Touch  -->
				<icon src="icons/ios/icon-60.png" platform="ios" width="60" height="60" />
				<icon src="icons/ios/icon-60@2x.png" platform="ios" width="120" height="120" />
				<!-- iPad -->
				<icon src="icons/ios/icon-76.png" platform="ios" width="76" height="76" />
				<icon src="icons/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
				<icon src="icons/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />
				<!-- Settings Icon -->
				<icon src="icons/ios/icon-small.png" platform="ios" width="29" height="29" />
				<icon src="icons/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
				<icon src="icons/ios/icon-small@3x.png" platform="ios" width="87" height="87" />
				<!-- Spotlight Icon -->
				<icon src="icons/ios/icon-40.png" platform="ios" width="40" height="40" />
				<icon src="icons/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
				<icon src="icons/ios/icon-40@3x.png" platform="ios" width="120" height="120" />

		</platform>
		
		<platform name="android">
				<!-- ICONS -->
				<icon src="icons/android/mdpi.png" platform="android" qualifier="mdpi" />
				<icon src="icons/android/hdpi.png" platform="android" qualifier="hdpi" />
				<icon src="icons/android/xhdpi.png" platform="android" qualifier="xhdpi" />
				<icon src="icons/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />
				<icon src="icons/android/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

		</platform>

		<!-- DEFAULT ICON + SPLASH -->
		<icon src="icon.png" />
		
    <content src="index.html" />
    <access origin="*" />
</widget>
